<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User Registration Form</h1>

<h1>Name: <%= student.name %></h1>

<% if (student.age >= 18) { %>
    <h1>Vote de sakta hai</h1>
<% } else { %>
    <h1>Vote nahi de sakta hai</h1>
<% } %>

    
</body>
</html>